/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap'); */

/* inter-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/inter-v18-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-200 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v18-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v18-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v18-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/poppins-v21-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v21-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v21-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* protest-guerrilla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Protest Guerrilla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/protest-guerrilla-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body{
    background-color: color-mix(in srgb, #000 90%, #fff 10%);
}

.inter{
    font-family: "Inter", sans-serif;
}
.poppins{
  font-family: "Poppins", sans-serif;
}
.protest{
  font-family: "Protest Guerrilla", sans-serif;
}


.main-menu{
    font-size: 18px;
}
.main-menu li{
    padding:0px 20px;
}
.main-menu li a{
    color: #fff;
}
.searchicons{
    padding:0px 20px;
}
.navbar{
    --bs-navbar-nav-link-padding-x:0 px;
}
.navbar-toggler{
  background-color:#fff;
}
.Indextext h1{
    font-size: 112px;
    color: #fff;
    font-weight: 350;
}
.Indexdesc p{
    font-size: 25px;
    color: #fff;
}
.companyrow{
  height: 180px;
}
.companyimg{
  height: 62px;
  width: 120px;
}
.companybg{
  background-color: #353535;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.companylogosimg{
  margin-top: 65px;
}
.BStext{
  font-size: 40px;
  color: #fff;
}
.card1{
  position: relative;
  border-radius: 25px;
  border: 2px solid #545454;
  background-color: #353535;
  color: #fff;
  height: 270px;
  width: 440px;
  margin-left: 95px;
}
.shooimg{
  position: absolute;
  top: -10%;
  left: -31%;
  height: 360px;
  width: 450px;
}
.card-body1{
  margin-top: 40px;
}
.cartbtn1{
  font-size: 10px;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
}
.cartbtn2{
  font-size: 10px;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.card-body1 h5{
  font-size: 22px;
  padding-bottom: 5px;
}
.card-body1 h6{
  font-size: 23px;
  padding-bottom: 5px;
}
.card-body1 p{
  font-size: 13px;
  padding-bottom: 5px;
}
.discountbg1{
  position: relative;
  border-radius: 20px;
  border: 2px solid #545454;
  background-color: #353535;
  margin-left: 15px;
}
.Shoesimg{
  position: absolute;
  top: -16px;
  left: -43px;
  height: 495px;
  width: 450px;
}
.discounttext h4{
  font-size: 70px;
  color: #fff;
  padding: 10px 0px;
}
.discounttext h6{
  font-size: 120px;
  color: #fff;
  margin: 0%;
}
.getnow{
  border-radius: 40px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 20px;
  padding: 15px 90px;
}
.discountbg2{
  position: relative;
  border-radius: 20px;
  border: 2px solid #545454;
  background-color: #353535;
}
.runrow{
  margin-right: 10px;
  height: 50%;
}
.runimg{
  position: absolute;
  top: -37px;
  right: 0px;
  height: 271px;
  width: 180px;
}
.runtxt{
  margin-top: 12px;
}
.runtxt h6{
  color: #fff;
  font-size: 50px;
}
.discountbg3{
  position: relative;
  border-radius: 20px;
  border: 2px solid #545454;
  background-color: #353535;
}
.truckrow{
  height: 50%;
  margin-right: 10px;
}
.truckimg{
  position: absolute;
  top: 0px;
  right: -26px;
  height: 215px;
}
.trucktxt{
  margin-top: 45px;
}
.trucktxt h6{
  color: #fff;
  font-size: 50px;
  margin-top: 10px;
}
.chooseustxt h1{
  font-size: 40px;
}
.serviceiconbg{
  background: #353535;
  border: 2px solid #545454;
  height: 100px;
  width: 100px;
}
.icon{
  height: 40px;
  width: 40px;
}
.servicetxt h6{
  font-size: 20px;
}
.servicetxt hr{
  color: #545454;
}
.servicetxt p{
  margin: 0%;
  font-size: 16px;
  color: #A6A6A6;
}
.headtxt h1{
  font-size: 40px;
}
.whoimgbg{
  position: relative;
  border-radius: 30px;
  background-color: #353535;
  border: 2px solid #545454;
  padding: 180px;
}
.whoimg {
  position: absolute;
  top: -64px;
  left: 99px;
  height: 426px;
  width: 338px;
}
.whotxt h1{
  color: #fff;
  margin-bottom: 30px;
  font-size: 28px;
}
.whotxt p{
  font-size: 20px;
  color: #A6A6A6;
}
.talkbg {
    position: absolute;
    top: 353%;
    left: 20%;
    background-color: #353535;
    border-radius: 20px;
    border: 2px solid #545454;
    padding: 79px;
    height: 340px;
    width: 400px;
    z-index: 1;
}
.talkbg h1{
  color: #fff;
  font-size: 40px;
  padding-bottom: 30px;
}
.talkbg p{
  color: #A6A6A6;
  font-size: 20px;
}
.formbg{
  position: relative;
  border: 3px solid #545454;
  border-radius: 20px;
  padding: 58 171 58 382;
  margin-left: 250px;
  margin-right: 50px;
}
.sunmitbtn{
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
  background-color: #353535;
  border: 2px solid #545454;
  padding: 14px 86px;
}
.field1{
  background-color:transparent;
  border:3px solid #545454;
  border-radius:20px
}
.femail{
  background-color:transparent;
  border: none;
  padding: 25px;
}
.txtarea{
  background-color:transparent;
  border: none;
  padding: 25px;
}
.recenttxt{
  font-size: 40px;
}
.reviewbg{
  background: #353535;
  border: 2px solid #545454;
  border-radius: 20px;
  padding: 70px;
  height: 400px;
  width: 630px;
}
.reviewbg p{
  font-size: 20px;
  margin-bottom: 70px;
  margin-top: 60px;
}
.reviewbg h6{
  font-size: 24px;
  margin: 0%;
}
.reviewimg{
  height: 100px;
  width: 100px;
  z-index: 1;
}